@font-face {
	font-family: 'Windows Regular';
	src: url('fonts/windows_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/windows_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/windows_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/windows_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/windows_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/windows_regular.svg#windows_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Windows Regular', monospace;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    z-index: 10;
}
.hide-preloader{
    animation: hide-preloader 1.5s;
}
.preloader-hidden{
    display: none;
    z-index: -1;
}
@keyframes hide-preloader{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

main{
    background-color: #008081;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
table{
    margin: auto;
    border-spacing: 0;
}
td{
    width: 30px;
    height: 30px;
    background-color: #bebdbe;
    font-size: 15px;
    text-align: center; 
}
td:hover{
    cursor: pointer;
}
td:active{
    border-width: 0;
}
.game-name{
    cursor: default;
}
#minesweeper{
    background-color: #bebdbe;
    height: 330px;
    width: 98%;
    padding: 5px;
    margin: auto;
}
#headframe{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#again{
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
}
#again:active{
    border-width: 1px;
    background-color: #7b797b;
}
#bomb-count-wrap, #flag-count-wrap{
    font-size: 16px;
    text-align: center;
    width: 40%; 
}
.border-element{
    border-width: 4px;
    border-bottom-color: #7b797b;
    border-right-color: #7b797b;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-style: solid;
}
.window-wrapper{
    background-color: #7b797b;
    border-width: 2px;
    border-color: white;
    position: absolute;
    top: 40px;
    left: 200px;
    z-index: 2;
}
.header-window{
    display: flex;
    flex-direction: row;
    background-color: #000081;
    align-items: center;
    justify-content: space-between;
    margin: 4px;
}
.logo{
    max-width: 20px;
    max-height: 20px;
    margin: 2px 1px;
}
.desc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left-desc h4{
    letter-spacing: 0.1rem;
    color: white;
}
.right-desc{
    height: 20px;
}
.control{
    height: 100%;
    width: 20px;
    border-width: 2px;
    margin-right: 2px;
    position: relative;
}
.roll{
    display: block;
    border-bottom: 4px black solid;
    margin: 1px;
    height: 90%;
}
.unroll{
    display: block;
    height: 90%;
    margin: 1px;
    border-width: 4px 2px 2px 2px;
    border-style: solid;
    border-color: black;
}
.close:before{
    content: "\00d7";
    font-size: 30px;
    position: absolute;
    top: -10px;
    right: 1px;
}
#win-panel{
    background-color: #c0c0c0;
    position: absolute;
    z-index: 4;
    height: 45px;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    border-top: 3px white double;
}
.panel-logo{
    width: 70px;
}
.panel-logo img{
    height: 90%;
    width: 100%;
}
#tabs{
    display: flex;
    flex-direction: row;
}
.tab{
    border-width: 3px;
    border-bottom-color: black;
    border-right-color: black;
    border-top-color: #e4e7e4;
    border-left-color: #e4e7e4;
    border-style: solid;
    margin: 1px 3px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}
.tab img{
    max-width: 30px;
    max-height: 30px;
}
#win-logo{
    width: 60px;
}
.active{
    background-color: whitesmoke;
    border-bottom-color: #e4e7e4;
    border-right-color: #e4e7e4;
    border-top-color: black;
    border-left-color: black;
}
.tab-name{
    cursor: default;
}
.icons{
    margin: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.icon{
    margin-bottom: 10px;
    width: 100px;
    height: 90px;
    text-align: center;
}
.icon img{
    max-height: 50px;
    max-width: 50px;
    min-width: 40px;
    min-height: 40px;
}
.icon h3{
    color: white;
    font-weight: 100;
}
#bin{
    position: absolute;
    bottom: 46px;
    right: 0;
}
.active-icon{
    background-color: rgba(0, 0, 255, 0.5);
}
#meme-tab{
    display: none;
}